.fullScreen
    height: 100%
    width: 100%
    margin: 0

.landingBack
    background: url("https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80") 
    background-size: cover
    background-position: center

.navBack
    background-color: #1D1E18

.navbar-light .nav-item, .navbar-light .navbar-nav .nav-link
    color: #DEE7E7
    text-decoration: none

.navbar-light:hover .nav-item:hover, .navbar-light:hover .navbar-nav:hover .nav-link:hover
    color: #DEE7E7
    
.Iron-Grid
  display: grid
  width: 100%
  height: 90%
  grid-template-columns: auto
  grid-template-rows: auto
  /* Centers the divs along the column axies */
  justify-content: center
  /* Centers the divs along the row axies */
  align-content: center
  /* Centers items inside the Div/Row */
  align-items: center
  color: #1D1E18

.cover-heading
    font-size: 5rem

