.fullScreen
    height: 100%
    width: 100%
    margin: 0

.landingBack
    background-color: #AAD2BA

.navBack
    background-color: #1D1E18

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link
    color: #DEE7E7